<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
<% if info %>
  <div class="confirm" role="alert">
   <div class='emptyspace'>
      <div class="face">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth happy"></div>
      </div>
    </div>
    <div class="shadow scale"></div>
    <div class="confirm-text">
      <h1>booked!</h1>
      <p><%= info %></p>
      <button class="btn btn-search-calendar" id="button-box">continue</button>
    </div>
  </div>
<% end %>
