.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

// .alert {
//   padding: $alert-padding;
//   margin-bottom: $line-height-computed;
//   border: 1px solid transparent;
//   border-radius: $alert-border-radius;

//   // Headings for larger alerts
//   h4 {
//     margin-top: 0;
//     color: inherit; // Specified for the h4 to prevent conflicts of changing $headings-color
//   }

//   // Provide class for links that match alerts
//   .alert-link {
//     font-weight: $alert-link-font-weight;
//   }

//   // Improve alignment and spacing of inner content
//   > p,
//   > ul {
//     margin-bottom: 0;
//   }

//   > p + p {
//     margin-top: 5px;
//   }
// }
