.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-div {
  align-items: center;
}

#current-email {
  margin-right: 20px;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

.btn-search {
  background-color: rgb(252, 185, 2);
}

.btn-add-tool a {
  color: black !important;
  text-decoration: none;
  font-weight: 500;
}

.btn-add-tool {
  background-color: rgb(252, 185, 2);
  margin-right: 20px;
}

#text-home {
  margin: 0 0 0 20px;
}
