.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-div {
  align-items: center;
}

#current-email {
  margin-right: 20px;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

.btn-search {
  background-color: rgb(252, 185, 2);
  margin: 10px auto;
  width: 80%;
}
