.tool-image {
  margin: center;
  border-style: none;
  width: 100%;
  height: 500px;
}

h1 {
  text-align: center;
  font-size: 80px;
}

#tool-detail {
  width: 800px;
  height: 960px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px grey;
}

.info {
  font-weight: bold;
  font-size: 30px;
}

.prices {
  font-weight: bold;
  font-size: 30px;
}

.btn-gradient {
  width: 100%;
  height: 80px;
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px 5px 3px gray;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}

.link {
  display: flex;
  justify-content: space-around;
}

.back-list {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: black;
  &:hover {
    color: rgba(252, 185, 2, 0.986);
  }
}

.tool-edit {
  font-weight: bold;
  font-size: 30px;
  color: black;
  &:hover {
    color: rgba(252, 185, 2, 0.986);
  }
}

.back-home {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: black;
  &:hover {
    color: rgba(252, 185, 2, 0.986);
  }
}
