.tool-image {
  margin: center;
  border-top: 0.5px solid rgb(237, 237, 237);
  border-bottom: 0.5px solid rgb(237, 237, 237);
  width: 50%;
  object-fit: fill;
}

#tool-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

#tool-detail {
  width: 350px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#booking-detail {
  width: 250px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.link {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.show-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  color: black;
  &:hover {
    color: rgba(252, 185, 2, 0.986);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.show-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
